<h1>Welcome to Freddie Mercury Page </h1>
<img class= "montreux" src="images/IMG_3991.JPG" alt="Freddie Drawing">
<br>
<p>Freddie Mercury (5 September 1946 – 24 November 1991)</p>
<br>
<img class="living" src="images/IMG_4508.JPG">
<br>
<p>British singer, songwriter, record producer, and lead vocalist of the rock band Queen.</p>
<br>