<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="images/IMG_4026.JPG" width="407" height="407">
      <div class="card-body">
        <p class="card-text">Freddie in "Living on my own" video.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="images/IMG_4027.JPG" width="407" height="507">
      <div class="card-body">
        <p class="card-text">Freddie and Brian May in a rehearsing in Budapest.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="images/IMG_4031.JPG" width="407" height="507">
      <div class="card-body">
        <p class="card-text">Freddie and Brian May in a concert.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="images/IMG_4037.JPG" width="407" height="507">
      <div class="card-body">
        <p class="card-text">Freddie in a concert.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="images/IMG_4086.JPG" width="407" height="507">
      <div class="card-body">
        <p class="card-text">Freddie in "It's a hard time" video.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="images/IMG_4233.JPG" width="407" height="507">
      <div class="card-body">
        <p class="card-text">Freddie in a Wembley concert.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="images/IMG_5070.JPG" width="407" height="507">
      <div class="card-body">
        <p class="card-text">Freddie singing.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="images/IMG_5225.JPG" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Freddie through the years.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="images/IMG_5242.JPG" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Freddie Mercury.</p>
      </div>
    </div>
  </div>
</div>
