
<h1>Is this the real life? Is this just fantasy?</h1>

<img class="forever" src="images/IMG_5133.JPG" alt="">
<br>
<p>Although Mercury's speaking voice naturally fell in the baritone range, he delivered most songs in the tenor range.[32] His known vocal range extended from bass low F (F2) to soprano high F (F6). He could belt up to tenor high F (F5). <br> Biographer David Bret described his voice as "escalating within a few bars from a deep, throaty rock-growl to tender, vibrant tenor, then on to a high-pitched, perfect coloratura, pure and crystalline in the upper reaches"</p>
<br>
<img class="forever" src="images/IMG_4005.JPG" alt="">
<br>
<article class="quote">"I always knew I was a star, and now the rest of the world seems to agree with me."</article>
<br>
<p>Mercury wrote 10 of the 17 songs on Queen's Greatest Hits album: "Bohemian Rhapsody", "Seven Seas of Rhye", "Killer Queen", "Somebody to Love", "Good Old-Fashioned Lover Boy", "We Are the Champions", "Bicycle Race", "Don't Stop Me Now", "Crazy Little Thing Called Love", and "Play the Game". <br> In 2003 Mercury was posthumously inducted into the Songwriters Hall of Fame with the rest of Queen, and in 2005 all four band members were awarded an Ivor Novello Award for Outstanding Song Collection from the British Academy of Songwriters, Composers, and Authors.</p>
<br>
<img class="forever" src="images/IMG_4639.JPG" alt="">
<br>
<article class="quote">"The concept of Queen is to be regal and majestic."</article>
<br>
<p>Mercury was noted for his live performances, which were often delivered to stadium audiences around the world. He displayed a highly theatrical style that often evoked a great deal of participation from the crowd. <br> One of Mercury's most notable performances with Queen took place at Live Aid in 1985. Queen's performance at the event has since been voted by a group of music executives as the greatest live performance in the history of rock music.</p>
<br>
<img class="forever" src="images/IMG_4053.JPG" alt="">
<br>
<article class="quote">"The reason we're successful, darling? My overall charisma, of course."</article>
<br>
<p>As a young boy in India, Mercury received formal piano training up to the age of nine. Later on, while living in London, he learned guitar. <br> Mercury played the piano in many of Queen's most popular songs, including "Killer Queen", "Bohemian Rhapsody", "Good Old-Fashioned Lover Boy", "We Are the Champions", "Somebody to Love", and "Don't Stop Me Now". He used concert grand pianos (such as a Bechstein) and, occasionally, other keyboard instruments such as the harpsichord. From 1980 onward, he also made frequent use of synthesisers in the studio.</p>
<br>
<img class="forever" src="images/IMG_4628.JPG" alt="">
<br>
<article class="quote">"What will I be doing in twenty years' time? I'll be dead, darling! Are you crazy?"</article>
<br>
<p>As well as his work with Queen, Mercury put out two solo albums and several singles. Mercury released several singles, including his own version of the hit "The Great Pretender" by the Platters, which debuted at No. 5 in the UK in 1987. In 1981–1983 Mercury recorded several tracks with Michael Jackson, including a demo of "State of Shock", "Victory", and "There Must Be More to Life Than This".</p>
<br>
<img class="forever" src="images/IMG_5136.JPG" alt="">
<br>