@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

html {
    font-family: 'Great Vibes', cursive;
    font-size: 16px;
}

h1 {
    font-family: 'Great Vibes', cursive;
    text-align: center;
    margin: 15px;
    font-size: 3rem;
}

.navbar {
    background-color: #f7d547;
}

body {
    background-color: lightyellow;
}

.montreux {
    width: 40%;
    height: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    text-align: center;
    margin: auto 30px auto 30px
}

.living {
    width: 40%;
    height: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.quote {
    font-style: oblique;
    font-size: 1.3rem;
    text-align: center;
    margin: auto 50px auto 50px
}

.forever {
    width: 30%;
    height: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;  
}

.footer {
    font-size: 0.5rem;
    text-align-last: right;
    margin: 0;
    padding: 10px 15px 10px 15px;
    background-color: #f7d547;
}